<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">

  <title>Document</title>
</head>
<header>
  <nav>
      <section class="Logo">
        <a href="/login">
          <img src="/images/AMERICANO.jpg" width="150"   alt="Imagem">
        </a> 
      </section>
    <li><button><a href="/login">Login</a></button></li>
    <li><button><a href="/cadastro">Cadastro</a></button></li>  
  </nav>
</header>
<body>
  
</body>
</html>

<!--CSS--> 
<style>
body {
  padding: 0;
  margin: 0;
  background-color: rgba(224, 231, 238, 0.856);
}
.Logo img{
  border-radius: 100px;
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
  width: 150px;
  cursor: pointer;
  
}


nav{
  
  width: 100%;
  overflow: auto;
  background-color: rgb(67, 189, 226);
  
}

ul{
  padding: 0;
  margin: 0 0 0 250px;
  list-style: none;
}


li{
  float: right;
  list-style: none;
  padding: 10px;
}

li button{
  border: rgba(15, 6, 6, 0.671);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
  cursor: pointer;
  transition: 1s;
 }
 
 
 
 li button:hover{
   background:rgb(0, 238, 255)
   
   
  }
  </style>
  
  

