<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionario</title>
</head>
<body>
    <div id="lista de funcionarios">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>SobreNome</th>
                    <th>Telefone</th>
                    <th>PIS</th>
                    <th>Função</th>
                    <th>Matricula/th>
                    <th>setor</th>
                    <th>Nascimento</th>
                    <th>Entrada</th>
                    <th>Saida</th>


                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    
</body>
</html>